extends layout

block content
	.container-fluid(style='padding-top:80px;')
		.row(style="padding-top:10px;")
			.col-sm-3
			.col-sm-3(style='text-align:center;')
				img(src='https://s3-ap-southeast-1.amazonaws.com/sauravsood.com/achievements/psmi.png', style="max-width:100%")
			.col-sm-6(style='padding-left:30px;')
				.row(style="font-size:20px; color:#3377CC") Professional Scrum Master (PSM I)
				.row(style="color:#5E9516; font-weight:600") Scrum.org
				.row(style="color:#5E9516") Sep'20
				.row(style="font-weight:600") Online Self Paced
		.row(style="padding-top:10px;")
			.col-sm-3
			.col-sm-3
				img(src='https://s3-ap-southeast-1.amazonaws.com/sauravsood.com/achievements/pmp+udemy.jpg', style="max-width:100%")
			.col-sm-6(style='padding-left:30px;')
				.row(style="font-size:20px; color:#3377CC") Project Management Professional (PMP)
				.row(style="color:#5E9516; font-weight:600") Udemy
				.row(style="color:#5E9516") Sep'20
				.row(style="font-weight:600") Online Self Paced
		.row(style="padding-top:10px;")
			.col-sm-3
			.col-sm-3
				img(src='https://s3-ap-southeast-1.amazonaws.com/sauravsood.com/achievements/Change+Management+Udemy+Certificate.jpg', style="max-width:100%")
			.col-sm-6(style='padding-left:30px;')
				.row(style="font-size:20px; color:#3377CC") Change Management Professional (CMP)
				.row(style="color:#5E9516; font-weight:600") Udemy
				.row(style="color:#5E9516") Sep'20
				.row(style="font-weight:600") Online Self Paced