extends layout

block content
	.container-fluid
		//.row(style="text-align:centre")
		//	h1 --------My Journey--------
		.row
			.col-md-3
			.col-md-3
				img(src='https://s3-ap-southeast-1.amazonaws.com/sauravsood.com/tcs+logo+blue.jpg', style="max-width:100%")
			.col-md-6
				.row Tata Consultancy Services
				.row Assistant Systems Engineer
				.row Mumbai, Maharashtra
		.row
			.col-md-3
			.col-md-3
				img(src='https://s3-ap-southeast-1.amazonaws.com/sauravsood.com/lybrate+logo.jpg', style="max-width:100%")
			.col-md-6
				.row Lybrate Inc.
				.row Senior Software Developer
				.row Faridabad, Delhi NCR
		.row
			.col-md-3
			.col-md-3
				img(src='https://s3-ap-southeast-1.amazonaws.com/sauravsood.com/O4S+logo+Final.png', style="max-width:100%")
			.col-md-6
				.row O4S | Original4sure - Supplytics
				.row Chief Operating Officer
				.row Gurgaon, Delhi NCR