extends layout

block content
	.container-fluid(style='padding-top:80px;')
		.row(style="padding-top:10px;")
			.col-sm-3
			.col-sm-3
				img(src='https://s3-ap-southeast-1.amazonaws.com/sauravsood.com/O4S+logo+Final.png', style="max-width:100%")
			.col-sm-6
				.row(style="font-size:20px; color:#3377CC") O4S | Original4sure - Supplytics
				.row(style="color:#5E9516; font-weight:600") Chief Operating Officer
				.row(style="color:#5E9516") Jan'17 - Present
				.row(style="font-weight:600") Gurgaon, Delhi NCR
		.row(style="padding-top:10px;")
			.col-sm-3
			.col-sm-3
				img(src='https://s3-ap-southeast-1.amazonaws.com/sauravsood.com/lybrate+logo.jpg', style="max-width:100%")
			.col-sm-6
				.row(style="font-size:20px; color:#3377CC") Lybrate Inc.
				.row(style="color:#5E9516; font-weight:600") Senior Software Developer
				.row(style="color:#5E9516") Mar'15 - Jan'17 (1yr 10mo	)
				.row(style="font-weight:600") Faridabad, Delhi NCR
		.row(style="padding-top:10px;")
			.col-sm-3
			.col-sm-3
				img(src='https://s3-ap-southeast-1.amazonaws.com/sauravsood.com/tcs+logo+blue.jpg', style="max-width:100%")
			.col-sm-6
				.row(style="font-size:20px; color:#3377CC") Tata Consultancy Services
				.row(style="color:#5E9516; font-weight:600") Assistant Systems Engineer
				.row(style="color:#5E9516") Aug'13 - Feb'15 (1yr 6mo)
				.row(style="font-weight:600") Mumbai, Maharashtra