extends layout

block content
	.container-fluid(text-align='center')
		.row
			h1 --------My Journey--------
		.row
			.col-md-3
			.col-md-3
				img(src='https://s3-ap-southeast-1.amazonaws.com/sauravsood.com/tcs+logo+blue.jpg')
			.col-md-6
				.row Tata Consultancy Services
				.row Assistant Systems Engineer
				.row Mumbai, Maharashtra