extends layout

block content
  // linkedIn badge javascript
  script(type="text/javascript", src="https://platform.linkedin.com/badges/js/profile.js", async, defer)

  // twitter feed javascript via curator.io
  script(type="text/javascript").
    (function(){
    var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
    i.src = "https://cdn.curator.io/published/fa450ad7-27a5-475d-9658-e2cf76e0f043.js";
    e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
    })();

  img(src='https://s3-ap-southeast-1.amazonaws.com/sauravsood.com/homepage/IMG_1205.jpg', width='100%', style='padding-top:50px;')
  .container(style="padding-top:20px;")
    h1 Personal Public Webspace
    p.lead A personal project, building a website.
    hr
    .row
      .col-md-6
        h2 Career
        p There's no one way to tell one's story. Here's a beginning though. My Career - A book still being written, a story yet to be told, an idea yet to materialise.
        p
          a.btn.btn-raised(href='career', role='button') View details »
      .col-md-6
        h2 Academic Profile
        p I'll say its a work in progress and be it may, for the forseeable future. Learning is a lifelong process, and I'm hoping to keep this segment growing.
        p
          a.btn.btn-raised(href='academics', role='button') View details »
      .col-md-6
        h2 Interests
        p Interest do deserve a section of their own as they change and grow with you over the course of time. Ranging from sports to youtube channels to reading to making this website, to the wierd love-hate relationship with fitness & food.
        p
          a.btn.btn-raised(href='interests', role='button') View details »
      .col-md-6
        h2 Achievements
        p A chronological story of all achievemtns, no matter small or big! Ranging from attending an event, to participation certificate to winning moments. A brain dump of all.
        p
          a.btn.btn-raised(href='achievements', role='button') View details »
    .row
      .col-md-4.LI-profile-badge(data-version="v1", data-size="large", data-locale="en_US", data-type="horizontal", data-theme="dark", data-vanity="saurav-sood")
        a.LI-simple-link(href='https://in.linkedin.com/in/saurav-sood?trk=profile-badge', target="_blank") Saurav Sood
      .col-md-4#curator-feed-default-feed-layout
        //a.crt-logo.crt-tag(href="https://curator.io",target="_blank")
