extends layout

block content
	.container-fluid(style='padding-top:80px;')
		.row(style="padding-top:10px;")
			.col-sm-3
			.col-sm-3
				img(src='https://s3-ap-southeast-1.amazonaws.com/sauravsood.com/animal+love.jpg', style="max-width:100%")
			.col-sm-6(style='padding-left:30px;')
				.row(style="font-size:20px; color:#3377CC") Animals
				.row(style="color:#5E9516; font-weight:600") Lover
		.row(style="padding-top:10px;")
			.col-sm-3
			.col-sm-3
				img(src='https://s3-ap-southeast-1.amazonaws.com/sauravsood.com/crossFit2.jpg', style="max-width:100%")
			.col-sm-6(style='padding-left:30px;')
				.row(style="font-size:20px; color:#3377CC") CrossFitting
				.row(style="color:#5E9516; font-weight:600") CrossFitter
		.row(style="padding-top:10px;")
			.col-sm-3
			.col-sm-3
				img(src='https://s3-ap-southeast-1.amazonaws.com/sauravsood.com/coding.jpg', style="max-width:100%")
			.col-sm-6(style='padding-left:30px;')
				.row(style="font-size:20px; color:#3377CC") Coding
				.row(style="color:#5E9516; font-weight:600") Coder
		.row(style="padding-top:10px;")
			.col-sm-3
			.col-sm-3
				img(src='https://s3-ap-southeast-1.amazonaws.com/sauravsood.com/gardening.jpg', style="max-width:100%")
			.col-sm-6(style='padding-left:30px;')
				.row(style="font-size:20px; color:#3377CC") Gardening
				.row(style="color:#5E9516; font-weight:600") Gardner
		.row(style="padding-top:10px;")
			.col-sm-3
			.col-sm-3
				img(src='https://s3-ap-southeast-1.amazonaws.com/sauravsood.com/3d-render-sunrise-view-from-space-planet-earth.jpg', style="max-width:100%")
			.col-sm-6(style='padding-left:30px;')
				.row(style="font-size:20px; color:#3377CC") Documentary
				.row(style="color:#5E9516; font-weight:600") Enthusiast
		.row(style="padding-top:10px;")
			.col-sm-3
			.col-sm-3
				img(src='https://s3-ap-southeast-1.amazonaws.com/sauravsood.com/basil-leaves-chia-seeds-halved-tomato-oil-arranged-white-wooden-floor.jpg', style="max-width:100%")
			.col-sm-6(style='padding-left:30px;')
				.row(style="font-size:20px; color:#3377CC") Food
				.row(style="color:#5E9516; font-weight:600") Eat, Regret, Repeat
		.row(style="padding-top:10px;")
			.col-sm-3
			.col-sm-3
				img(src='https://s3-ap-southeast-1.amazonaws.com/sauravsood.com/tennis-rackets-grass.jpg', style="max-width:100%")
			.col-sm-6(style='padding-left:30px;')
				.row(style="font-size:20px; color:#3377CC") Lawn Tennis
				.row(style="color:#5E9516; font-weight:600") Player
		.row(style="padding-top:10px;")
			.col-sm-3
			.col-sm-3
				img(src='https://s3-ap-southeast-1.amazonaws.com/sauravsood.com/rubics-cube-wooden-background-top-view.jpg', style="max-width:100%")
			.col-sm-6(style='padding-left:30px;')
				.row(style="font-size:20px; color:#3377CC") Rubik's Cube
				.row(style="color:#5E9516; font-weight:600") Solved


